<div>
	<!-- <div class="sub-banner-image">
		<div class="sub-banner-text">
			<h1>Search Products‎</h1>
		</div>
	</div> -->
	<div>
		<form name='searchForm' ng-submit='search.submit(searchForm.productId.$viewValue,searchForm.productDescriptionEnglish.$viewValue)'>
			<input type="text" name="productId" placeholder="Product ID" ng-model='search.form.productId'>
			<br>
			<input type="text" name="productDescriptionEnglish" placeholder="Product Description" ng-model='search.form.productDescriptionEnglish'>
			<br>
			<input type="button" value="Reset" class="cancelbtn" ng-click='search.reset()'>
			<span class="search-btn">
				<button type="submit">Search Products</button>
			</span>
		</form>
	</div>

	<!-- We need an NG-SHOW and to code the NG-REPEAT for the data rquest-->
	<!-- <div align="center">
		<table>
		  <tr>
		    <th>Product ID</th>
			<th>Product Description</th>
			<th>Brand Name</th>
			<th>Product Type</th>
			<th>Additional Product Identification</th>
			<th>Target Market</th>
			<th>Product Image URL</th>
			<th>Status</th>
		  </tr>
		  <tr>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		  </tr>
		  <tr>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		  </tr>
		  <tr>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		  </tr>
		  <tr>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		    <td>N/A</td>
		  </tr>
		</table>
	</div> -->
</div>