<div>
	<!-- <div class="sub-banner-image">
		<div class="sub-banner-text">
			<h1>Search Products‎</h1>
		</div>
	</div> -->
	<div>
		<form name='searchForm' ng-submit='search.submit(searchForm.productId.$viewValue,searchForm.productDescriptionEnglish.$viewValue)'>
			<input type="text" name="productId" placeholder="Product ID" ng-model='search.form.productId'>
			<br>
			<input type="text" name="productDescriptionEnglish" placeholder="Product Description" ng-model='search.form.productDescriptionEnglish'>
			<br>
			<input type="button" value="Reset" class="cancelbtn" ng-click='search.reset()'>
			<span class="search-btn">
				<button type="submit">Search Products</button>
			</span>
		</form>
	</div>

	<div ng-show='list.length > 0'>
		<table>
			<thead>
				<tr>
					<th>Id</th><th>Descriptionth</th><th>Brand Name</th><th>Type</th><th>Additional Id</th><th>Target Market</th><th>Image URL</th><th>Status</th>
				</tr>
			</thead>
			<tr ng-repeat='product in list'>
				<td>{{product.id}}</td>
				<td>{{product.productDescriptionEnglish}}</td>
				<td>{{product.brandNameEnglish}}</td>
				<td>{{product.productType}}</td>
				<td>{{product.additionalProductIdentification}}</td>
				<td>{{product.targetMarket}}</td>
				<td>{{product.productImageUrl}}</td>
				<td>{{product.status}}</td>
			</tr>
		</table>
	</div>
</div>