body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Validation */

.help-block {
    color: red;
    font-size: 12px;
}

form.ng-submitted input.ng-invalid {
    border: 1px solid red;
}

form.ng-submitted select.ng-invalid {
    border: 1px solid red;
}

/* Validation Finish */

label {
    font-weight: bold;
}

h2 {
    text-align: center;
}

::placeholder {
    color: #bcbcbc;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bcbcbc;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #bcbcbc;
}

/* Top Navigation Bar */

.bg-div {
    background: #333333;
}

.logo-img {
    position: relative;
    margin: 15px 15px 15px 15px;
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

nav li {
    display: inline-block;
    list-style-type: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 14px
}

nav li a:hover {
    background-color: #111111;
}

/* Hero Banner */

.hero-image {
    background-image: url("../images/toronto.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ff9900;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

.hero-text button:hover {
    background-color: #FFAB2E;
    color: #FFFFFF;
}

/* Sub Banner */

.sub-banner-image {
    background-image: url("../images/earth.jpg");
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sub-banner-image1 {
    background-image: url("../images/brick.jpg");
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sub-banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* Search Field */

form {
    text-align: center;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 25px 10px 0px 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: #808080;
    display: inline-block;
    border: 1px solid #ccc;
}

.search-btn {
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 12px 0px 25px 0px;
    cursor: pointer;
}

.search-btn button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ff9900;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

.search-btn button:hover {
    opacity: 0.8;
    color: #FFFFFF;
}

/* Footer */

.logo-footer {
    padding-bottom: 10px;
}

footer {
    left: 0;
    bottom: 0;
    background-color: #333333;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    padding: 24px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer li {
    display: inline-block;
    list-style-type: none;
}

footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 7px 4px 7px;
    text-decoration: none;
    font-size: 12px
}

footer li a:hover {
    color: #FFAB2E;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
    padding: 8px;
    margin: 30px;
}

/* Add Product */

.product-text input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    color: #808080;
}

.product-text select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    background: transparent;
    height: 44px;
    border: 1px solid #d8d8d8;
    border-radius: 0px;
    color: #bcbcbc;
    -webkit-appearance: none;
}

.mainselection {
    overflow: hidden;
    width: 850px;
    margin-left: 0px;
    background: url("../images/dropdown_arrow.png") no-repeat #fff 99% -8px;
}

.product-text button {
    background-color: #ff9900;
    color: white;
    padding: 10px 35px;
    margin: 8px 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.product-text button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    background-color: #e3e3e4;
    color: #808080;
    padding: 10px 30px;
    margin: 8px 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

@media only screen and (max-width:500px) {
    nav {
        text-align: right;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }
    nav li {
        display: inline-block;
        list-style-type: none;
    }
    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-size: 12px
    }
    nav li a:hover {
        background-color: #111111;
    }
}
